{% extends "parts/main_layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}




  <div class="intro row">
    <article>

    <h1>About This Website</h1>

   
    
      <p>
      	We read an article about <a href="http://www.forbes.com/sites/rickferri/2012/12/20/any-monkey-can-beat-the-market/">monkeys choosing stocks better than stock pickers</a>. This website was created to test that hypothesis.
      </p>
      <p>
      	Every day we generate a random selection of companies from the S&amp;P 500, calculate both their YTD and 1-year performance and compare it to our benchmark (the S&amp;P 500).
      </p>
    

    </article>
    <aside>
      <h4>Created By</h4>

      <h3 class="label">Doug Webster</h3>
      <ul>
      	<li><a href="https://twitter.com/dugweb" class="twitter-follow-button" data-show-count="false">Follow @dugweb</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
      	<li> <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/dugweb" aria-label="Follow @dugweb on GitHub">Follow @dugweb</a>
          <!-- Place this tag right after the last button or just before your close body tag. -->
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
        </li>
      </ul>

      <h3 class="label">Sadashiv Hiremath</h3>
      <ul>
      	<li><a href="https://twitter.com/sadashiv30" class="twitter-follow-button" data-show-count="false">Follow @sadashiv30</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li> <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/sadashiv30" aria-label="Follow @sadashiv30 on GitHub">Follow @sadashiv30</a>
        </li>
      </ul>

    </aside>
  </div>



{% endblock %}