{% extends "parts/main_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<article>
    <head>
        <meta charset="utf-8">
        <title>Moneyky vs Benchmark</title>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>
  </head>
  <body>
      {{ div | safe }}
      {{ script | safe }}
  </body>
</article>

{% endblock %}