{% extends "parts/main_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}


  <div class="intro row">
    <article>

    <h1>Monkey's and Your Money</h1>

   
    
      <p>
      Our team of specially trained primates are hard at work to pick a portfolio that is <em>guaranteed</em> to be free of human influence.
      </p>
      <p>
        So if you're not satisfied with your personal picks, or your financial advisor isn't quite up to the benchmark, give one of our 1.22×10<span class="raised">1134</span> possible portfolios a try, and you may be pleased with the results. Or you might not be, that's what we're trying to figure out.
      </p>
    

    </article>
    <aside>
      <img src="https://s3-us-west-2.amazonaws.com/moneyky/stock-picking-by-monkeys.jpg" class="hero" />

    </aside>
  </div>
  <div class="row">
    <article class="full">
    <h2>Today's Results</h2>
    </article>
  </div>
  <div class="row">
  	<article class="half">
  	<h3 class="label">Monkey Performance</h3>
  		
  		<h3 class="results">{{ portfolio.portfolio['performance_ytd'] }}%</h3>
  		<p>YTD Performance</p>


  		<h3 class="results">{{ portfolio.portfolio['performance_1year'] }}%</h3>
  		<p>1 Year Performance</p>

  	</article>
  	<article class="half">
  		
  		<h3 class="label">S&amp;P Performance</h3>
  		<h3 class="results">{{ portfolio.portfolio['benchmark_ytd'] }}%</h3>
  		<p>YTD Performance</p>


  		<h3 class="results">{{ portfolio.portfolio['benchmark_1year'] }}%</h3>
  		<p>1 Year Performance</p>

  	</article>
  </div>
  <div class="row">
    <article class="full">

      <h2>Today's Picks</h2>

      <table>
      <tr>
      <th>Ticker</th><th>Company</th><th class="numeric">YTD Performance</th><th class="numeric">1 Year Performance</th>
      </tr>
      {% for company in portfolio.holdings %}
        <tr>
          <td><a href="/company/{{company['ticker']}}">{{company['ticker']}}</a></td><td>{{company['companyname'] }}</td><td class="numeric">{{company['ytdperformance']}}%</td><td class="numeric">{{ company['1yearperformance']}}%</td>
        </tr>
      {% endfor %}
      </table>


    </article>
 </div>


{% endblock %}